/*AUTH pages specific appearance and markup*/

/*Fonts for different areas in the app as added by Kizito 20190923*/
@font-face{ 
    font-family: 'ExistenceLight';
    src: url('../fonts/existence_light/existence-light-webfont.eot');
    src: url('../fonts/existence_light/existence-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/existence_light/existence-light-webfont.woff') format('woff'),
         url('../fonts/existence_light/existence-light-webfont.woff2') format('woff2'),
         url('../fonts/existence_light/existence-light-webfont.ttf') format('truetype'),
         url('../fonts/existence_light/existence-light-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: 'Sertig';
    src: url('../fonts/sertig/sertig-webfont.eot');
    src: url('../fonts/sertig/sertig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sertig/sertig-webfont.woff') format('woff'),
         url('../fonts/sertig/sertig-webfont.woff2') format('woff2'),
         url('../fonts/sertig/sertig-webfont.ttf') format('truetype'),
         url('../fonts/sertig/sertig-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: 'SourceSansProExtraLight';
    src: url('../fonts/sourcesanspro_extralight/sourcesanspro-extralight-webfont.eot');
    src: url('../fonts/sourcesanspro_extralight/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro_extralight/sourcesanspro-extralight-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro_extralight/sourcesanspro-extralight-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro_extralight/sourcesanspro-extralight-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro_extralight/sourcesanspro-extralight-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: 'SourceSansProRegular';
    src: url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.svg#webfont') format('svg');
}

html, body {
    background-color: #F7F7F7;
    color: #ccc;
    font-family: 'SourceSansProRegular', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.navbar-default {
    background: #F7F7F7; /* Old browsers */
    border: none;
    border-color: #d3e0e9;
    font-size: 18px;
}

.panel {
    margin-bottom: 22px;
    background-color: #09454f;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    color: #f7f7f7;
}

*, :after, :before {
    box-sizing: border-box;
}

.navbar-brand {
    /*color: #09454f;*/
    font-family: 'ExistenceLight', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #09454f !important;
}

.panel-default {
    border: none;
    border-color: #d3e0e9;

}

.panel-default>.panel-heading {
    color: #f7f7f7;
    background-color: #09454f;
    border-color: #d3e0e9;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: none;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

/* Imported Login Document */

.clear {
    clear:both;
    width:100%;
    }   
    
h1{
    margin:40px auto;
    padding:0;
    font-family: 'SourceSansProExtraLight', serif;
    font-size:100px;
    font-weight:1000;
    color:#2980b9;
    text-align:center;
    }   

/*
 * Styling the container for the login form.
 */

.login {
    width:350px;
    padding:25px;
    margin:50px auto;
    /*background-color:#2c3e50;*/
    background-color: #09454f;
    }
/*
 * Styling the Lables and checkbox font
 */
        
label {
    font-size:24px;
    font-family: 'SourceSansProExtraLight', serif;
    color:#fff;
    }
    
.check {
    font-size:15px;
    font-family: 'SourceSansProExtraLight', serif;}     

/*
 * General Input Style
 */
input[type="text"] {
    color: #333;
    width: calc(100% - 20px);
} 

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"]  {
    width: calc(100% - 33px);
    margin:10px 0 10px 0;
    padding:15px;
    border: solid 1px #ccc;
    font-size:20px;
    background-color:#ecf0f1;
    }   

/*
 * Styling the Buttons
 */
        
input[type="submit"],
input[type="button"] {
    position:relative;
    width:calc(100% - 13px);
    background-color:#3498db;
    border:none;
    color:#FFF;
    
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    
    -webkit-box-shadow: 0px 9px 0px #2980b9;
    -moz-box-shadow: 0px 9px 0px #2980b9;
    box-shadow: 0px 9px 0px #2980b9;
    }
    
input[type="submit"]:active,
input[type="button"]:active{
    
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    
    position:relative;
    top:7px;
    
    -webkit-box-shadow: 0px 2px 0px #16a085;
    -moz-box-shadow: 0px 2px 0px #16a085;
    box-shadow: 0px 2px 0px #16a085;
}   
    
input[type="submit"] {
    float:right;
    }   

/*
 * Styling the checkbox
 */
        
input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    position: relative;
}

input[type="checkbox"]:active, .input[type="checkbox"]:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type="checkbox"]:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

input[type="checkbox"]:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}