/* Landing splash page properties */
html, body {
    background-color: #094550;
    color: #ccc;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    background: #09454f; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #09454f 70%, #111c1e 120%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #09454f 70%,#111c1e 120%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #09454f 70%,#111c1e 120%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09454f', endColorstr='#111c1e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
*/
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
    font-family: 'Sertig', Arial, sans-serif;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

/*Mod for putting a non-link motto*/
.links{ 
	border-top: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #cccccc;
	font-family: 'ExistenceLight', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links > a {
    color: #ccc;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 3em;
    }
    .links {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        font-size: 0.75em;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #cccccc;
        font-weight: bold;
    }
    .links > a {
        font-size: 0.75em;
    }

    .top-links a {
        font-size: 0.75em;
        padding-right: 5px;
    }
}

.m-b-md {
    margin-bottom: 30px;
}

.landing {
	font-family: 'ExistenceLight', Arial, sans-serif;
	font-weight: normal;
	text-shadow: 2px 2px 2px #333;
}

.first-action {
    margin-top: 20px;
}

.first-action > a { 
    color: #cccccc;
    font-family: 'ExistenceLight', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
}

.first-action > a:hover{
    color: #fff;
}

/*Fonts for different areas in the app as added by Kizito 20190922*/
@font-face{ 
	font-family: 'ExistenceLight';
	src: url('../fonts/existence_light/existence-light-webfont.eot');
	src: url('../fonts/existence_light/existence-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/existence_light/existence-light-webfont.woff') format('woff'),
	     url('../fonts/existence_light/existence-light-webfont.woff2') format('woff2'),
	     url('../fonts/existence_light/existence-light-webfont.ttf') format('truetype'),
	     url('../fonts/existence_light/existence-light-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Sertig';
	src: url('../fonts/sertig/sertig-webfont.eot');
	src: url('../fonts/sertig/sertig-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/sertig/sertig-webfont.woff') format('woff'),
	     url('../fonts/sertig/sertig-webfont.woff2') format('woff2'),
	     url('../fonts/sertig/sertig-webfont.ttf') format('truetype'),
	     url('../fonts/sertig/sertig-webfont.svg#webfont') format('svg');
}
